In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# Créer une connexion à MySQL sans spécifier de base de données

engine = create_engine('mysql+pymysql://root:@localhost/aistoredb')

# Categorie

In [4]:
df_cat = pd.read_csv('category.csv', encoding='latin-1')
data_cat = df_cat.copy()

In [5]:
data_cat

                                Type
0                        Charcuterie
1                          Condiment
2                 Produits de rasage
3   Produits de soin pour les ongles
4                                Thé
5                 Produits d'hygiène
6    Produits de soin pour le visage
7                            Liqueur
8                       Alimentation
9                            Hygiène
10          Produits de démaquillage
11                           Boisson
12                           Animaux
13              Produits de coiffure
14                          Sucrerie
15       Produits d'hygiène dentaire
16                             Snack
17       Produits de soin capillaire
18                Produits de douche
19   Produits de soin pour les mains
20       Produits de soin des lèvres
21   Produits de soin pour les pieds
22    Produits de protection solaire
23                          Biscuits
24    Produits de soin pour le corps
25                               Jus
26                              Café
27                             Bière
28                           Poisson
29                 Produits laitiers
30                          Chocolat
31                               Vin
32                             Huile
33                           Dessert
34                            Glaces
35                           Légumes
36                            Viande
37                              Lait
38                               Eau
39                          Céréales

In [6]:
# Réinitialiser l'index du DataFrame pour qu'il commence à partir de 1
data_cat.reset_index(drop=True, inplace=True)
data_cat.index += 1

In [7]:
# Créer une nouvelle colonne 'id_category' en utilisant les index du DataFrame
data_cat['id_category'] = data_cat.index

# Renommer la colonne 'Name' en 'nom_category'
data_cat.rename(columns={'Type': 'nom_category'}, inplace=True)

In [8]:
data_cat

                        nom_category  id_category
1                        Charcuterie            1
2                          Condiment            2
3                 Produits de rasage            3
4   Produits de soin pour les ongles            4
5                                Thé            5
6                 Produits d'hygiène            6
7    Produits de soin pour le visage            7
8                            Liqueur            8
9                       Alimentation            9
10                           Hygiène           10
11          Produits de démaquillage           11
12                           Boisson           12
13                           Animaux           13
14              Produits de coiffure           14
15                          Sucrerie           15
16       Produits d'hygiène dentaire           16
17                             Snack           17
18       Produits de soin capillaire           18
19                Produits de douche           19
20   Produits de soin pour les mains           20
21       Produits de soin des lèvres           21
22   Produits de soin pour les pieds           22
23    Produits de protection solaire           23
24                          Biscuits           24
25    Produits de soin pour le corps           25
26                               Jus           26
27                              Café           27
28                             Bière           28
29                           Poisson           29
30                 Produits laitiers           30
31                          Chocolat           31
32                               Vin           32
33                             Huile           33
34                           Dessert           34
35                            Glaces           35
36                           Légumes           36
37                            Viande           37
38                              Lait           38
39                               Eau           39
40                          Céréales           40

In [12]:
data_cat[['id_category', 'nom_category']].to_sql(name='stock_category', if_exists='replace', con=engine, index=False)

40

# Produits

In [27]:
df_prod = pd.read_csv('produits.csv', encoding='latin-1', sep=';')
data_prod = df_prod.copy()

In [28]:
data_prod

                                Produit                         Category  Prix
0                    Saucisson à l'anis                      Charcuterie  1400
1                Pâté de lapin aux noix                      Charcuterie  1800
2                         Sachet de sel                        Condiment   500
3        Terrine de faisan aux morilles                      Charcuterie  1700
4    Baume après-rasage hydratant Nivea               Produits de rasage   700
..                                  ...                              ...   ...
317               Sachet de thé rooibos                              Thé   500
318   Lotion anti-imperfections Garnier  Produits de soin pour le visage  1200
319   Déodorant bille sans parfum Vichy               Produits d'hygiène   800
320       Soin contour des yeux L'Oréal  Produits de soin pour le visage  2500
321              Saucisson au roquefort                      Charcuterie  1400

[322 rows x 3 columns]

In [29]:
# Effectuer une jointure entre products_df et categories_df pour obtenir les identifiants correspondants

data_prod = data_prod.merge(data_cat, left_on='Category', right_on='nom_category', how='left')

In [30]:
data_prod

,Produit,Category,Prix,nom_category,id_category
0,Saucisson à l'anis,Charcuterie,1400,Charcuterie,1
1,Pâté de lapin aux noix,Charcuterie,1800,Charcuterie,1
2,Sachet de sel,Condiment,500,Condiment,2
3,Terrine de faisan aux morilles,Charcuterie,1700,Charcuterie,1
4,Baume après-rasage hydratant Nivea,Produits de rasage,700,Produits de rasage,3
...,...,...,...,...,...
317,Sachet de thé rooibos,Thé,500,Thé,5
318,Lotion anti-imperfections Garnier,Produits de soin pour le visage,1200,Produits de soin pour le visage,7
319,Déodorant bille sans parfum Vichy,Produits d'hygiène,800,Produits d'hygiène,6
320,Soin contour des yeux L'Oréal,Produits de soin pour le visage,2500,Produits de soin pour le visage,7
321,Saucisson au roquefort,Charcuterie,1400,Charcuterie,1

In [31]:
# Supprimer les colonnes non nécessaire

data_prod.drop(columns=['Category', 'nom_category'], inplace=True, axis=1)

In [32]:
data_prod

                                Produit  Prix  id_category
0                    Saucisson à l'anis  1400            1
1                Pâté de lapin aux noix  1800            1
2                         Sachet de sel   500            2
3        Terrine de faisan aux morilles  1700            1
4    Baume après-rasage hydratant Nivea   700            3
..                                  ...   ...          ...
317               Sachet de thé rooibos   500            5
318   Lotion anti-imperfections Garnier  1200            7
319   Déodorant bille sans parfum Vichy   800            6
320       Soin contour des yeux L'Oréal  2500            7
321              Saucisson au roquefort  1400            1

[322 rows x 3 columns]

In [33]:
# Réinitialiser l'index du DataFrame pour qu'il commence à partir de 1
data_prod.reset_index(drop=True, inplace=True)
data_prod.index += 1


# Créer une nouvelle colonne 'id_category' en utilisant les index du DataFrame

data_prod['id'] = data_prod.index

In [34]:
data_prod

                                Produit  Prix  id_category   id
1                    Saucisson à l'anis  1400            1    1
2                Pâté de lapin aux noix  1800            1    2
3                         Sachet de sel   500            2    3
4        Terrine de faisan aux morilles  1700            1    4
5    Baume après-rasage hydratant Nivea   700            3    5
..                                  ...   ...          ...  ...
318               Sachet de thé rooibos   500            5  318
319   Lotion anti-imperfections Garnier  1200            7  319
320   Déodorant bille sans parfum Vichy   800            6  320
321       Soin contour des yeux L'Oréal  2500            7  321
322              Saucisson au roquefort  1400            1  322

[322 rows x 4 columns]

In [35]:
# Assigner des valeurs à plusieurs colonnes simultanément

data_prod['quantite'] = [0] * len(data_prod)  # Assigner 0 à toutes les lignes de la colonne 'quantite'
data_prod['is_deleted'] = [0] * len(data_prod)  # Assigner 0 à toutes les lignes de la colonne 'is_deleted'

In [36]:
data_prod

,Produit,Prix,id_category,id,quantite,is_deleted
1,Saucisson à l'anis,1400,1,1,0,0
2,Pâté de lapin aux noix,1800,1,2,0,0
3,Sachet de sel,500,2,3,0,0
4,Terrine de faisan aux morilles,1700,1,4,0,0
5,Baume après-rasage hydratant Nivea,700,3,5,0,0
...,...,...,...,...,...,...
318,Sachet de thé rooibos,500,5,318,0,0
319,Lotion anti-imperfections Garnier,1200,7,319,0,0
320,Déodorant bille sans parfum Vichy,800,6,320,0,0
321,Soin contour des yeux L'Oréal,2500,7,321,0,0
322,Saucisson au roquefort,1400,1,322,0,0

In [37]:
# Renommer les colonnes 'produit' en 'nom' et 'id_category' en 'id_category_id'

data_prod.rename(columns={'Produit': 'nom', 'id_category': 'id_category_id', 'Prix': 'prix'}, inplace=True)
data_prod

,nom,prix,id_category_id,id,quantite,is_deleted
1,Saucisson à l'anis,1400,1,1,0,0
2,Pâté de lapin aux noix,1800,1,2,0,0
3,Sachet de sel,500,2,3,0,0
4,Terrine de faisan aux morilles,1700,1,4,0,0
5,Baume après-rasage hydratant Nivea,700,3,5,0,0
...,...,...,...,...,...,...
318,Sachet de thé rooibos,500,5,318,0,0
319,Lotion anti-imperfections Garnier,1200,7,319,0,0
320,Déodorant bille sans parfum Vichy,800,6,320,0,0
321,Soin contour des yeux L'Oréal,2500,7,321,0,0
322,Saucisson au roquefort,1400,1,322,0,0

In [38]:
data_prod[['id', 'nom', 'quantite', 'is_deleted', 'id_category_id', 'prix']].to_sql(name='stock_stock', if_exists='replace', con=engine, index=False)

322